@import url(http://fonts.googleapis.com/css?family=Press+Start+2P);

html, body {
    font-family: 'Roboto', sans-serif;
    font-size:14px;
    height:100%;
    margin: 0px;
    padding: 0px;
}

/* Toolbar area */

.menu {
    background-color: transparent;
    border: none;
    height: 38px;
    margin: 16px;
    width: 36px;
}

md-toolbar h1 {
    margin: auto;
}

/* Sidenav area */

md-list .md-button {
    color: inherit;
    font-weight: 500;
    text-align: left;
    width: 100%;
}
md-list .md-button.selected {
    color: #03a9f4;
}

md-sidenav  md-list {
    padding: 0px 0px 8px 0px;
}

/* Home */

.avatar {
    position: relative;
    width: 80px;
    float: left;
}

.avatar30 {
    width: 50px;
}

.damage {
    position: absolute;
    font-size: 16px;
    color: #fff;
    text-shadow: 0px 0px 10px #000;
    font-family: 'Press Start 2P', cursive;
    z-index: 9999;
}


/* Status */

.label {
    text-transform: uppercase;
    font-size: 0.7em;
    font-family: 'Roboto', sans-serif;
}

.stat {
    font-weight: bold;
    font-size: 1.3em;
}

.progress-hp .md-bar {
    background-color: darkgreen;
}

.progress-mp .md-bar {
    background-color: darkgreen;
}

.progress-limit .md-bar {
    background-color: hotpink;
}

.icon-weapon {
    position: relative;
    top: 4px;
}

.empty {
    font-style: italic;
    color: #999;
}

.stat-up::after {
    content: "\25B2";
    color: darkgreen;
    font-size: 0.8em;
}

.stat-down::after {
    content: "\25BC";
    color: darkred;
    font-size: 0.8em;
}

.sts_wrapper {
    position: relative;
}
.sts {
    position: absolute;
    left: 0;
    right: 0;
}
.sts_text {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1;
}
.sts_0 {background-color: #EDB5F7}
.sts_1 {background-color: #E6A7F0}
.sts_2 {background-color: #E099E9}
.sts_3 {background-color: #D98CE2}
.sts_4 {background-color: #D37EDC}
.sts_5 {background-color: #CD71D5}
.sts_6 {background-color: #C663CE}