<div class="uk-grid uk-grid-margin">


    <div class="uk-width-1-2 uk-container-center">

        <div class="uk-panel uk-panel-box">
            <div class="uk-panel-title">
                Actions
            </div>
            <a href="" class="uk-button" ng-click="g.quit()">Escape</a>
            <a href="" class="uk-button" ng-click="g.togglePause()">Pause on/off</a>
            <a href="" class="uk-button" ng-click="g.fightBoss()" ng-if="g.battle.canFightBoss()">Fight boss</a>
        </div>

    </div>

    <div class="uk-width-1-1 uk-margin-top">

        <div class="uk-panel">
            <div class="uk-grid">

                <!-- team list -->
                <div class="uk-width-2-6">
                    <div ng-repeat="(i, character) in g.battle.game.team" id="{{character.id}}"
                         class="uk-panel uk-panel-box uk-panel-header">

                        <div class="uk-panel-title">{{character.data.ref|translate}}</div>

                        <div class="uk-grid">

                            <div class="uk-width-1-4 avatar avatar-team">
                                <div class="damage"></div>
                                <img ng-src="{{character.data.image}}" alt="character" width="50" />
                            </div>
                            <div class="uk-width-3-4">
                                <div class="uk-progress">
                                    <div class="uk-progress-bar" style="width: {{character.progress('hp')}}%;">
                                        {{character.hp}}HP
                                    </div>
                                </div>
                                <div class="uk-progress">
                                    <div class="uk-progress-bar" style="width: {{character.progress('cts')}}%;">
                                        {{character.cts}}
                                    </div>
                                </div>
                                <ul class="uk-list uk-subnav">
                                    <li>
                                        <img ng-src="img/icons/weapons/{{character.data.weapon.type}}.png"
                                             class="tm-icon-button"
                                             ng-class="{'active': character.status == 'attack'}"
                                             data-uk-tooltip="{pos:'bottom', cls:'help'}"
                                             title="attack mode"
                                             ng-click="g.toggle(character, 'attack')"/>
                                    </li>
                                    <li>
                                        <img ng-src="img/icons/armor.png"
                                             class="tm-icon-button"
                                             ng-class="{'active': character.status == 'defense'}"
                                             data-uk-tooltip="{pos:'bottom', cls:'help'}"
                                             title="defense mode"
                                             ng-click="g.toggle(character, 'defense')"/>
                                    </li>
                                    <li>
                                        <img ng-src="img/icons/limit.png"
                                             class="tm-icon-button"
                                             ng-class="{'active': character.status == 'limit'}"
                                             data-uk-tooltip="{pos:'bottom', cls:'help'}"
                                             title="limit mode"/>
                                    </li>
                                </ul>
                            </div>

                        </div>

                    </div>
                </div>

                <div class="uk-width-1-6 uk-text-center">
                    VS
                </div>

                <!-- enemies list -->
                <div class="uk-width-2-6">
                    <div ng-repeat="enemy in g.battle.enemies" id="{{enemy.id}}"
                         class="uk-panel uk-panel-box uk-panel-header">

                        <div class="uk-panel-title">
                            <span ng-if="enemy.data.boss">BOSS</span>
                            {{enemy.data.ref|translate}}
                        </div>

                        <div class="uk-grid">

                            <div class="uk-width-1-4 avatar avatar-enemy">
                                <div class="damage"></div>
                                <img ng-src="{{enemy.data.image}}" alt="" width="50" />
                            </div>
                            <div class="uk-width-3-4">
                                <div class="uk-progress">
                                    <div class="uk-progress-bar" style="width: {{enemy.progress('hp')}}%;">
                                        {{enemy.hp}}HP
                                    </div>
                                </div>
                                <div class="uk-progress">
                                    <div class="uk-progress-bar" style="width: {{enemy.progress('cts')}}%;">
                                        {{enemy.cts}}
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
                
                <div class="uk-width-1-6">
                    History (battle)
                    <div ng-repeat="info in g.battle.history.categories.battle">
                        {{info}}
                    </div>
                </div>

            </div>
        </div>

    </div>


</div>