<div layout="row">

    <div flex>

        <md-card>
            <md-card-content layout="row">

                <!-- team list -->
                <div flex>
                    <div ng-repeat="(i, character) in ctrl.battle.game.team" class="card" id="{{character.id}}">
                        <div class="avatar avatar-team">
                            <div class="damage"></div>
                            <img ng-src="{{character.data.image}}" alt="character" width="50" class="icon"/>
                        </div>
                        <div class="main">
                            <span class="label">{{character.data.ref|translate}}</span>
                                <span class="stat {{character.hpMax}}">
                                    {{ctrl.stat('hpMax')}}
                                </span>
                            <md-progress-linear md-mode="determinate" value="{{character.progress('hp')}}"
                                                class="progress-hp"></md-progress-linear>

                            <md-progress-linear md-mode="determinate" value="{{character.progress('limit')}}"
                                                class="progress-limit"></md-progress-linear>
                        </div>

                        <div style="clear: left"></div>
                    </div>
                </div>

                <div flex layout="column" layout-align="center center">
                    VS
                </div>

                <!-- enemies list -->
                <div flex layout="column" layout-align="center">
                    <div ng-repeat="enemy in ctrl.battle.enemies" class="card_enemy" id="{{enemy.id}}">
                        <div class="avatar avatar-enemy">
                            <div class="damage"></div>
                            <img ng-src="{{enemy.data.image}}" alt="avatar" height="80"/>
                        </div>
                        <div class="main">
                            <span class="label">{{enemy.data.ref|translate}}</span>
                                <span class="stat {{enemy.hpMax}}">
                                    {{ctrl.stat('hpMax')}}
                                </span>
                            <md-progress-linear md-mode="determinate" value="{{enemy.progress('hp')}}"
                                                class="progress-hp"></md-progress-linear>
                        </div>

                        <div style="clear: left"></div>
                    </div>
                </div>

            </md-card-content>
        </md-card>

        <md-card>
            <md-subheader>
                Turns
                <md-button ng-click="ctrl.quitBattle()">
                    {{"quit"|translate}}
                </md-button>
            </md-subheader>
            <md-content layout="row" style="height: 50px;">
                <div flex ng-repeat="turn in ctrl.battle.turns track by $index" class="sts_wrapper">
                    <div class="sts {{turn.color}}" style="height:{{turn.height}}px"></div>
                    <div class="sts_text">{{turn.ref|translate}}</div>
                </div>
            </md-content>
        </md-card>

    </div>

    <div flex>

        <md-card>
            <md-subheader>Team</md-subheader>
            <md-content>

                <md-list ng-repeat="(i, character) in ctrl.battle.game.team">
                    <md-subheader>{{character.ref|translate}}</md-subheader>
                    <md-list-item ng-repeat="action in character.actions">
                        <p>{{action.ref|translate}}<br />{{action.ref+' desc'|translate}}</p>
                        <md-checkbox class="md-secondary" ng-model="action.enabled" ng-click="ctrl.save()"></md-checkbox>
                    </md-list-item>
                </md-list>

            </md-content>

        </md-card>

    </div>


</div>