<div class="uk-grid uk-grid-margin">

    <div class="uk-width-1-2">

        <ng-include src="'partials/includes/card-character.html'"></ng-include>

    </div>

    <div class="uk-width-1-2">

        <div class="uk-panel uk-panel-box uk-panel-header">
            <div class="uk-panel-title">
                {{'equipment'|translate}}
            </div>
            <div>

                <ul class="uk-list">
                    <li>
                        <img ng-src="/img/icons/weapons/{{g.character.data.weapon.type}}.png"/>
                        <a href="" ng-click="g.show('weapon')">
                            <span ng-if="g.character.weapon">
                                {{g.character.weapon.ref|translate}}
                            </span>
                            <span ng-if="!g.character.weapon">
                                {{'empty'|translate}}
                            </span>
                        </a>
                    </li>

                    <li>
                        <img ng-src="/img/icons/armor.png"/>
                        <a href="" ng-click="g.show('armor')">
                            <span ng-if="g.character.armor">
                                {{g.character.armor.ref|translate}}
                            </span>
                            <span ng-if="!g.character.armor">
                                {{'empty'|translate}}
                            </span>
                        </a>
                    </li>

                    <li>
                        <img ng-src="/img/icons/accessory.png"/>
                        <a href="" ng-click="g.show('accessory')">
                            <span ng-if="g.character.accessory">
                                {{g.character.accessory.ref|translate}}
                            </span>
                            <span ng-if="!g.character.accessory">
                                {{'empty'|translate}}
                            </span>
                        </a>
                    </li>

                </ul>

            </div>
        </div>

    </div>

</div>

<div class="uk-grid uk-grid-margin" ng-show="g.showList">

    <div class="uk-width-1-2">
        <div class="uk-panel uk-panel-box uk-panel-header">
            <div class="uk-panel-title">
                Equipment information
                <a href="" ng-click="g.remove()" ng-if="g.type != 'weapon'">remove</a>
            </div>

            {{g.equipment.ref|translate}}<br />

            <ul class="uk-list">
                <li ng-repeat="(key, stat) in g.equipment.data.stats">
                    {{key}}: {{stat}}
                </li>
            </ul>
        </div>
    </div>

    <div class="uk-width-1-2">
        <div class="uk-panel uk-panel-box uk-panel-header">
            <div class="uk-panel-title">Available</div>

            <ul class="uk-list">
                <li ng-repeat="e in g.list">
                    <a href="" ng-click="g.change(e)">
                        {{e.ref|translate}}
                    </a>
                </li>
            </ul>
        </div>
    </div>

</div>