<div layout="row">

    <div flex>

        <ng-include src="'partials/includes/card-character.html'"></ng-include>

        <md-card>
            <md-card-content>

                <md-list>

                    <!-- WEAPON -->
                    <md-list-item ng-click="ctrl.toggleChangeEquipment('weapon')">
                        <div class="label inset">
                            {{'weapon'|translate}}
                        </div>

                        <div class="inset" ng-show="ctrl.character.weapon">
                            <img ng-src="/img/icons/weapons/{{ctrl.character.data.weapon.type}}.png"
                                 class="icon-weapon"/>
                            {{ctrl.character.weapon.ref|translate}}
                        </div>

                        <div class="empty inset" ng-show="!ctrl.character.weapon">
                            {{'empty'|translate}}
                        </div>
                    </md-list-item>

                    <!-- WEAPON MATERIAS -->
                    <md-list-item ng-repeat="hole in ctrl.weapon.nbHoles()" ng-click="ctrl.toggleChangeMateria(ctrl.character.weapon, hole)">
                        <div class="label inset">
                            &nbsp;
                        </div>
                        <div class="inset" ng-show="ctrl.weapon.materias[hole]">
                            {{ctrl.weapon.materias[hole].ref|translate}}
                        </div>
                        <span class="empty inset" ng-show="!ctrl.weapon.materias[hole]">
                            {{'empty'|translate}}
                        </span>
                    </md-list-item>

                    <!-- ARMOR -->
                    <md-list-item ng-click="ctrl.toggleChangeEquipment('armor')">
                        <div class="label inset">
                            {{'armor'|translate}}
                        </div>

                        <div class="inset" ng-show="ctrl.character.armor">
                            <img src="/img/icons/armor.png"/>
                            {{ctrl.character.armor.ref|translate}}
                        </div>

                        <div class="empty inset" ng-show="!ctrl.character.armor">
                            {{'empty'|translate}}
                        </div>
                    </md-list-item>

                    <!-- ARMOR MATERIAS -->
                    <md-list-item ng-repeat="hole in ctrl.armor.nbHoles()" ng-click="ctrl.toggleChangeMateria(ctrl.character.armor, hole)">
                        <div class="label inset">
                            &nbsp;
                        </div>
                        <div class="inset" ng-show="ctrl.armor.materias[hole]">
                            {{ctrl.armor.materias[hole].ref|translate}}
                        </div>
                        <span class="empty inset" ng-show="!ctrl.armor.materias[hole]">
                            {{'empty'|translate}}
                        </span>
                    </md-list-item>

                    <!-- ACCESSORY -->
                    <md-list-item ng-click="ctrl.toggleChangeEquipment('accessory')">
                        <div class="label inset">
                            {{'accessory'|translate}}
                        </div>

                        <div class="inset" ng-show="ctrl.character.accessory">
                            <img src="/img/icons/accessory.png" width="12"/>
                            {{ctrl.character.accessory.ref|translate}}
                        </div>

                        <div class="empty inset" ng-show="!ctrl.character.accessory">
                            {{'empty'|translate}}
                        </div>
                    </md-list-item>
                </md-list>

            </md-card-content>
        </md-card>

    </div>

    <div flex>

        <md-card ng-show="ctrl.type">
            <md-card-content>

                <!-- WEAPON LIST -->
                <md-list ng-if="ctrl.type == 'weapon'">

                    <md-subheader class="md-no-sticky">{{'weapons'|translate}}</md-subheader>

                    <md-list-item ng-repeat="weapon in ctrl.weapons" ng-click="ctrl.togglePreviewEquipment(weapon)">
                        <img ng-src="/img/icons/weapons/{{weapon.data.type}}.png" class="icon-weapon"/>
                        {{weapon.ref|translate}}
                    </md-list-item>

                    <md-list-item ng-show="ctrl.isEquipment()" ng-click="ctrl.togglePreviewEquipment()" class="md-warn">
                        {{'remove'|translate}}
                    </md-list-item>

                    <md-list-item ng-show="ctrl.isSelection()" ng-click="ctrl.changeEquipment()" class="md-raised">
                        {{'valid'|translate}}
                    </md-list-item>

                </md-list>

                <!-- ARMOR LIST -->
                <md-list ng-if="ctrl.type == 'armor'">

                    <md-subheader class="md-no-sticky">{{'armors'|translate}}</md-subheader>

                    <md-list-item ng-repeat="armor in ctrl.armors" ng-click="ctrl.togglePreviewEquipment(armor)">
                        <img ng-src="/img/icons/armor.png" class="icon-armor"/>
                        {{armor.ref|translate}}
                    </md-list-item>

                    <md-list-item ng-show="ctrl.isEquipment()" ng-click="ctrl.togglePreviewEquipment()" class="md-warn">
                        {{'remove'|translate}}
                    </md-list-item>

                    <md-list-item ng-show="ctrl.isSelection()" ng-click="ctrl.changeEquipment()" class="md-raised">
                        {{'valid'|translate}}
                    </md-list-item>

                </md-list>

                <!-- ACCESSORY LIST -->
                <md-list ng-if="ctrl.type == 'accessory'">

                    <md-subheader class="md-no-sticky">{{'accessories'|translate}}</md-subheader>

                    <md-list-item ng-repeat="accessory in ctrl.accessories" ng-click="ctrl.togglePreviewEquipment(accessory)">
                        <img ng-src="/img/icons/accessory.png" class="icon-accessory"/>
                        {{accessory.ref|translate}}
                    </md-list-item>

                    <md-list-item ng-show="ctrl.isEquipment()" ng-click="ctrl.togglePreviewEquipment()" class="md-warn">
                        {{'remove'|translate}}
                    </md-list-item>

                    <md-list-item ng-show="ctrl.isSelection()" ng-click="ctrl.changeEquipment()" class="md-raised">
                        {{'valid'|translate}}
                    </md-list-item>

                </md-list>

                <!-- MATERIA LIST -->
                <md-list ng-if="ctrl.type == 'materia'">

                    <md-subheader class="md-no-sticky">{{'materias'|translate}}</md-subheader>

                    <md-list-item ng-repeat="materia in ctrl.materias" ng-click="ctrl.togglePreviewMateria(materia)">
                        <img ng-src="/img/icons/weapons/{{weapon.data.type}}.png" class="icon-weapon"/>
                        {{materia.ref|translate}}
                    </md-list-item>

                    <md-list-item ng-show="ctrl.isMateria()" ng-click="ctrl.togglePreviewMateria()" class="md-warn">
                        {{'remove'|translate}}
                    </md-list-item>

                    <md-list-item ng-show="ctrl.isSelection()" ng-click="ctrl.changeMateria()" class="md-raised">
                        {{'valid'|translate}}
                    </md-list-item>

                </md-list>

            </md-card-content>
        </md-card>

    </div>

</div>