<div class="uk-grid uk-grid-margin">

    <div class="uk-width-1-2">

        <ng-include src="'partials/includes/card-character.html'"></ng-include>

        <div class="uk-panel uk-panel-box uk-panel-header uk-margin-top"
             ng-class="{'uk-panel-box-primary': ctrl.type == 'weapon'}">
            <div class="uk-panel-title">
                {{'weapon'|translate}}
                <a href="" class="uk-float-right uk-button-small"
                   ng-click="ctrl.toggleChangeEquipment('weapon')">{{'change'|translate}}</a>
            </div>
            <div>

                <dl class="uk-description-list-horizontal">
                    <dt>
                        <img ng-src="/img/icons/weapons/{{ctrl.character.data.weapon.type}}.png"/>
                        <span ng-if="ctrl.character.weapon">
                            {{ctrl.character.weapon.ref|translate}}
                            <br/>
                            <small>{{ctrl.character.weapon.data.holes}} slots</small>
                        </span>
                        <span ng-if="!ctrl.character.weapon">
                            {{'empty'|translate}}
                        </span>
                    </dt>
                    <dd>
                        {{ctrl.character.weapon.data.stats}}
                    </dd>

                </dl>

            </div>
        </div>

        <div class="uk-panel uk-panel-box uk-panel-header uk-margin-top"
             ng-class="{'uk-panel-box-primary': ctrl.type == 'armor'}">
            <div class="uk-panel-title">
                {{'armor'|translate}}
                <a href="" class="uk-float-right uk-button-small"
                   ng-click="ctrl.toggleChangeEquipment('armor')">{{'change'|translate}}</a>
            </div>
            <div>

                <dl class="uk-description-list-horizontal">
                    <dt>
                        <img ng-src="/img/icons/armor.png"/>
                        <span ng-if="ctrl.character.armor">
                            {{ctrl.character.armor.ref|translate}}
                            <br/>
                            <small>{{ctrl.character.armor.data.holes}} slots</small>
                        </span>
                        <span ng-if="!ctrl.character.armor">
                            {{'empty'|translate}}
                        </span>
                    </dt>
                    <dd>
                        {{ctrl.character.armor.data.stats}}
                    </dd>

                </dl>

            </div>
        </div>

        <div class="uk-panel uk-panel-box uk-panel-header uk-margin-top"
             ng-class="{'uk-panel-box-primary': ctrl.type == 'accessory'}">
            <div class="uk-panel-title">
                {{'accessory'|translate}}
                <a href="" class="uk-float-right uk-button-small"
                   ng-click="ctrl.toggleChangeEquipment('accessory')">{{'change'|translate}}</a>
            </div>
            <div>

                <dl class="uk-description-list-horizontal">
                    <dt>
                        <img ng-src="/img/icons/accessory.png"/>
                        <span ng-if="ctrl.character.accessory">{{ctrl.character.accessory.ref|translate}}</span>
                        <span ng-if="!ctrl.character.accessory">{{'empty'|translate}}</span>
                    </dt>
                    <dd>
                        {{ctrl.character.accessory.data.stats}}
                    </dd>

                </dl>

            </div>
        </div>

    </div>

    <div class="uk-width-1-2">

        <!-- Weapons -->
        <div class="uk-panel uk-panel-header" ng-if="ctrl.type == 'weapon'">

            <div class="uk-panel-title">{{'weapons'|translate}}</div>

            <ul class="uk-list">

                <li ng-repeat="weapon in ctrl.weapons">

                    <img ng-src="/img/icons/weapons/{{weapon.data.type}}.png"/>
                    {{weapon.ref|translate}}

                    <a href="" ng-click="ctrl.changeEquipment(weapon)">
                        {{'change'|translate}}
                    </a>

                </li>

            </ul>
        </div>

        <!-- Armors -->
        <div class="uk-panel uk-panel-header" ng-if="ctrl.type == 'armor'">

            <div class="uk-panel-title">{{'armors'|translate}}</div>

            <ul class="uk-list">

                <li ng-repeat="armor in ctrl.armors">

                    <img ng-src="/img/icons/armor.png"/>
                    {{armor.ref|translate}}

                    <a href="" ng-click="ctrl.togglePreviewEquipment(armor)">
                        {{'change'|translate}}
                    </a>

                </li>

            </ul>
        </div>

        <!-- Accessories -->
        <div class="uk-panel uk-panel-header" ng-if="ctrl.type == 'accessory'">

            <div class="uk-panel-title">{{'accessories'|translate}}</div>

            <ul class="uk-list">

                <li ng-repeat="accessory in ctrl.accessories">

                    <img ng-src="/img/icons/accessory.png"/>
                    {{accessory.ref|translate}}

                    <a href="" ng-click="ctrl.togglePreviewEquipment(accessory)">
                        {{'change'|translate}}
                    </a>

                </li>

            </ul>
        </div>

    </div>

</div>