<div class="wrapper">

    <div class="c1">

        <!-- characters list -->
        <div id="step1">
            <div ng-repeat="(i, character) in game.team" class="card">
                <div class="avatar">
                    <img ng-src="{{character.data.image}}" alt="character" width="80" class="icon"/>
                </div><!--

                --><div class="main">

                    <div class="progress characters_hp">
                        <div class="hp_progress" ng-style="{width: character.hpProgress(200) + 'px'}"></div>
                        <span class="bar-label">{{character.hp}} / {{character.getHpMax()}} HP</span>
                    </div>

                    <div class="progress characters_mp">
                        <div class="mp_progress" ng-style="{width: character.mpProgress(200) + 'px'}"></div>
                        <span class="bar-label">{{character.mp}} / {{character.getMpMax()}} MP</span>
                    </div>

                    <div class="progress characters_atb">
                        <div class="atb_progress" ng-style="{width: character.atbProgress(200) + 'px'}"></div>
                        <span class="bar-label">ATB</span>
                    </div>

                    <div>{{character.data.name}} <strong>(LVL{{character.lvl}})</strong></div>

                    <div class="actions">
                        <div>[A]</div>
                        <div>[D]</div>
                        <div>[L]</div>
                        <div ng-repeat="action in character.getActions()">[{{action.ref}}]</div>
                    </div>

                    <div class="effects">

                    </div>
                </div>

                <div style="clear: left"></div>
            </div>
        </div>
    </div><!--

    --><div class="c3" id="step5">
        <div ng-hide="game.battle" class="no-data">
            {{"No enemies"|translate}}
        </div>

        <!-- enemies list -->
        <div ng-repeat="enemy in game.battle.enemies" class="card_enemy">
            <div class="avatar_enemy">
                <img ng-src="{{enemy.data.image}}" alt="avatar" height="80" />
            </div><!--

            --><div class="main_enemy">

                <div class="progress enemies_hp">
                    <div class="hp_progress" ng-style="{width: enemy.hpProgress(200) + 'px'}"></div>
                    <span class="bar-label">{{enemy.hp}} / {{enemy.hpMax}} HP</span>
                </div>

                <div>{{enemy.data.ref}} <span ng-if="enemy.boss" class="boss">BOSS</span></div>

                <div class="effects">

                </div>
            </div>

            <div style="clear: left"></div>
        </div>
    </div>

</div>