<div layout="row">

    <div flex>

        <md-card ng-repeat="(i, character) in game.team" id="{{character.id}}">
            <md-card-content>
                <img ng-src="{{character.data.image}}" class="avatar" alt="character">
                <h2>{{character.data.ref}}</h2>
                <p>
                    LVL{{character.lvl}}<br />
                    HP{{character.hp}}<br />
                    MP{{character.mp}}
                </p>
            </md-card-content>
        </md-card>

    </div>

    <div flex>

        <md-card>
            <md-card-content>
                <img ng-src="{{ctrl.game.story.data.image}}" class="avatar" alt="zone">
                <h2>{{'Story '+ctrl.game.story.ref|translate}}</h2>
                <p>Zone#{{ctrl.game.story.ref}}</p>
            </md-card-content>
            <div class="md-actions" layout="row" layout-align="end center">
                <md-button class="md-raised" ng-click="ctrl.battle()">Battle</md-button>
            </div>
        </md-card>

    </div>

</div>