<div layout="row">

    <div flex>

        <md-card>
            <md-card-content>

                <div layout="row">
                    <div flex="33" ng-repeat="(i, character) in game.team">

                        <h2>{{character.data.ref|translate}}</h2>
                        <img ng-src="{{character.data.image}}" class="avatar30" alt="character">

                    </div>
                </div>


            </md-card-content>
        </md-card>

        <md-card>
            <md-card-content>

                <div layout="row">

                    <div flex>
                        <img ng-src="{{ctrl.game.story.data.image}}" width="100%" alt="zone">
                    </div>
                    <div flex>
                        <p>{{'chapter'|translate}} {{ctrl.game.story.ref}}</p>

                        <h2>{{'story '+ctrl.game.story.ref|translate}}</h2>

                        <p>{{'story '+ctrl.game.story.ref+' desc'|translate}}</p>
                        <md-button class="md-raised md-primary" ng-click="ctrl.battle()">{{'fight'|translate}}</md-button>
                    </div>

                </div>


            </md-card-content>
        </md-card>

    </div>

    <div flex></div>

</div>