<div class="uk-grid">

    <div class="uk-width-1-2">

        <div class="uk-panel uk-panel-box">

            <div class="uk-panel-title">TEAM</div>
            <div ng-repeat="(i, character) in game.team">

                <h2>{{character.data.ref|translate}}</h2>
                <img ng-src="{{character.data.image}}" class="avatar30" alt="character">

            </div>
        </div>

    </div>

    <div class="uk-width-1-2">
        <div class="uk-panel uk-panel-box">

            <div class="uk-panel-title">ZONE</div>

            <div flex>
                <img ng-src="{{ctrl.game.story.data.image}}" width="100%" alt="zone">
            </div>
            <div flex>
                <p>{{'chapter'|translate}} {{ctrl.game.story.ref}}</p>

                <h2>{{'story '+ctrl.game.story.ref|translate}}</h2>

                <p>{{'story '+ctrl.game.story.ref+' desc'|translate}}</p>
                <md-button class="md-raised md-primary" ng-click="ctrl.battle()">{{'fight'|translate}}
                </md-button>
            </div>

        </div>

    </div>
</div>