<div class="uk-grid uk-grid-margin uk-panel-space">

    <div class="uk-width-1-2">

        <!-- characters list -->

        <figure>
            <img src="/img/fanart/continue.jpg" alt=""/>
        </figure>

    </div>

    <div class="uk-width-1-2">

        <!-- enemies list -->
        <div class="uk-panel uk-panel-box uk-panel-box-primary uk-panel-title">

            <div class="uk-panel-title">Lost</div>

            <p>
                <a  href="" class="uk-button uk-button-primary" ng-click="g.goHome()">Continue</a>
            </p>

        </div>
    </div>

</div>