<div class="uk-grid uk-grid-margin">

    <div class="uk-width-1-2">

        <div class="uk-panel uk-panel-box uk-panel-header">
            <div class="uk-panel-title">Team</div>

            <ul class="uk-list uk-subnav">
                <li ng-repeat="c in g.game.team">
                    <figure class="uk-overlay">
                        <img ng-src="{{c.data.image}}" alt="" style="width:100px" />
                        <figcaption class="uk-overlay-panel uk-overlay-background uk-overlay-top">
                            {{c.ref|translate}}
                        </figcaption>
                        <a href="" class="uk-position-cover" ng-click="g.leaveTeam(c)"></a>
                    </figure>
                </li>
            </ul>
        </div>

    </div>

    <div class="uk-width-1-2">

        <div class="uk-panel uk-panel-box uk-panel-header">
            <div class="uk-panel-title">Backup</div>

            <uk class="uk-list uk-subnav">
                <li ng-repeat="c in g.game.backup">
                    <figure class="uk-overlay">
                        <img ng-src="{{c.data.image}}" alt="" style="width:70px" />
                        <figcaption class="uk-overlay-panel uk-overlay-background uk-overlay-top">
                            {{c.ref|translate}}
                        </figcaption>
                        <a href="" class="uk-position-cover" ng-click="g.joinTeam(c)"></a>
                    </figure>
                </li>
            </uk>
        </div>

    </div>

</div>