<div class="c1">

    <h3>{{'Team'|translate}}</h3>

    <div ng-repeat="character in ctrl.game.team" class="phs_character">
        <img ng-src="{{character.data.image}}" alt="character" width="80" style="float: left"
             ng-click="ctrl.leaveTeam(character)"/>

        <div class="main">
            <div class="progress characters_xp">
                <div class="xp_progress" ng-style="{width: character.xpProgress(200) + 'px'}"></div>
                <span class="bar-label">{{character.xp}} / {{character.getXpMax()}} EXP</span>
            </div>

            <div>{{character.data.name}} <strong>(LVL{{character.lvl}})</strong></div>
            <div>
                <span class="label">hp</span> {{character.hpMax}}
                <span class="label">mp</span> {{character.mpMax}}
            </div>
        </div>
        <div style="clear: left"></div>
    </div>

</div><!--

--><div class="c3">

    <h3>{{'Backup'|translate}}</h3>

    <span ng-repeat="character in ctrl.game.backup" class="phs_character">
        <img ng-src="{{character.data.image}}" alt="character" width="80" style="float: left"
             ng-click="ctrl.joinTeam(character)"/>
    </span>

</div>