<div layout="row">

    <div flex>

        <md-card ng-repeat="character in ctrl.game.team">
            <md-card-content>
                <img ng-src="{{character.data.image}}" class="avatar" alt="character">
                <h2>{{character.data.ref}}</h2>
                <p>
                    LVL{{character.lvl}}<br />
                    HP{{character.hp}}<br />
                    MP{{character.mp}}
                </p>
            </md-card-content>
            <div class="md-actions" layout="row" layout-align="end center">
                <md-button class="md-raised" ng-click="ctrl.leaveTeam(character)">Leave</md-button>
            </div>
        </md-card>

    </div>

    <div flex>

        <md-card ng-repeat="character in ctrl.game.backup">
            <md-card-content>
                <img ng-src="{{character.data.image}}" class="avatar" alt="character">
                <h2>{{character.data.ref}}</h2>
                <p>
                    LVL{{character.lvl}}<br />
                    HP{{character.hp}}<br />
                    MP{{character.mp}}
                </p>
            </md-card-content>
            <div class="md-actions" layout="row" layout-align="end center">
                <md-button class="md-raised" ng-click="ctrl.joinTeam(character)">Join</md-button>
            </div>
        </md-card>

    </div>

</div>