<div class="uk-grid uk-grid-margin uk-panel-space">

    <div class="uk-width-1-2">

        <!-- characters list -->

        <div ng-repeat="(i, character) in g.battle.game.team" id="{{character.id}}"
             class="uk-panel uk-panel-box uk-panel-header">

            <div class="uk-panel-title">{{character.data.ref|translate}}</div>

            <div class="uk-grid">

                <div class="uk-width-1-4 avatar avatar-team">
                    <div class="damage"></div>
                    <img ng-src="{{character.data.image}}" alt="character" width="50" />
                </div>
                <div class="uk-width-3-4">
                    <div class="uk-progress">
                        <div class="uk-progress-bar" style="width: {{character.progress('xp')}}%;">
                            {{character.xp}}xp
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="uk-width-1-2">

        <!-- enemies list -->
        <div class="uk-panel uk-panel-box uk-panel-box-primary uk-panel-header">

            <div class="uk-panel-title">Rewards</div>

            <div>XP: {{g.rewards.xp}}</div>

            <div>Redirection: {{g.rewards.count}}..</div>

            <div ng-repeat="drop in g.rewards.drops">
                <img src="/img/icons/item.png" /> {{drop.ref}}
            </div>

        </div>
    </div>

</div>