<div class="wrapper">

    <div class="c1">

        <!-- characters list -->
        <div id="step1">
            <div ng-repeat="(i, character) in ctrl.battle.game.team" class="card" id="{{character.id}}">
                <div class="avatar avatar-team">
                    <div class="damage"></div>
                    <img ng-src="{{character.data.image}}" alt="character" width="80" class="icon"/>
                </div><!--

                --><div class="main">

                    <div class="progress">
                        <div class="progress-bar progress-hp"
                             ng-style="{width: character.progress('hp', 200) + 'px'}"></div>
                        <span class="progress-label">{{character.hpMax}} HP</span>
                    </div>

                    <div class="progress">
                        <div class="progress-bar progress-mp"
                             ng-style="{width: character.progress('mp', 200) + 'px'}"></div>
                        <span class="progress-label">{{character.mpMax}} MP</span>
                    </div>

                    <div>{{character.data.ref}} <strong>(LVL{{character.lvl}})</strong></div>

                    <div class="actions">
                        <img ng-repeat="action in character.actions" ng-src="{{action.img}}"/>
                    </div>

                    <div class="effects">

                    </div>
                </div>

                <div style="clear: left"></div>
            </div>
        </div>
    </div><!--

    --><div class="c3" id="step5">

        <!-- enemies list -->
        <div class="results">

            <div>XP: {{ctrl.rewards.xp}}</div>

            <div>Redirection: {{ctrl.rewards.count}}..</div>

        </div>
    </div>

</div>