<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <meta name="revisit-after" content="7 days"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=1"/>

    <title>Clicking FF7</title>

    <link rel=stylesheet type="text/css" href="jspm_packages/github/uikit/uikit@2.22.0/css/uikit.min.css"/>
    <link rel=stylesheet type="text/css"
          href="jspm_packages/github/uikit/uikit@2.22.0/css/components/progress.min.css"/>
    <link rel=stylesheet type="text/css" href="jspm_packages/github/uikit/uikit@2.22.0/css/components/tooltip.min.css"/>
    <link rel=stylesheet type="text/css" href="css/style.css"/>
</head>

<body ng-controller="IndexController as g">

<nav class="uk-navbar tm-navbar">

    <div class="uk-container uk-container-center">

        <div class="uk-navbar-brand">clicking ff7</div>

        <ul class="uk-navbar-nav uk-float-right" ng-if="g.loaded">
            <li ng-class="{'uk-active' : g.isActive('/home')}">
                <a ng-click="g.goGame()">
                    Home
                </a>
            </li>
            <li ng-class="{'uk-active' : g.isActive('/story')}">
                <a ng-click="g.goStory()">
                    Story
                </a>
            </li>
            <li ng-class="{'uk-active' : g.isActive('/equip')}">
                <a ng-click="g.goEquip()">
                    Equip
                </a>
            </li>
            <li ng-class="{'uk-active' : g.isActive('/materia')}">
                <a ng-click="g.goMateria()">
                    Materia
                </a>
            </li>
            <li ng-class="{'uk-active' : g.isActive('/phs')}">
                <a ng-click="g.goPHS()">
                    PHS
                </a>
            </li>
            <li>
                <a ng-click="g.quit()">
                    Quit
                </a>
            </li>
        </ul>

    </div>

</nav>

<!--md-toolbar class="md-theme-indigo">
    <h1 class="md-toolbar-tools">clicking ff7</h1>
</md-toolbar>
<md-content>

    <md-button ng-click="g.goStatus()" ng-class="{ 'md-primary': g.isActive('/status')}">
        {{"Status"|translate}}
    </md-button>
    <md-button ng-click="g.goEquip()" ng-class="{ 'md-primary': g.isActive('/equip')}">
        {{"Equip"|translate}}
    </md-button>
    <md-button ng-click="g.goMateria()" ng-class="{ 'md-primary': g.isActive('/materia')}">
        {{"Materia"|translate}}
    </md-button>
    <md-button ng-click="g.goPHS()" ng-class="{ 'md-primary': g.isActive('/phs')}">
        {{"PHS"|translate}}
    </md-button>
</md-content>
</md-sidenav-->

<div class="uk-container uk-container-center" ng-view></div>

<!--footer>
    <div class="wrapper">
        <div>
            ©2014 <a href="http://menencia.com" target="_blank">menencia.com</a>, version <a
                href="https://github.com/Menencia/clickingff7/releases"
                target="_blank" id="step12"><big>{{game.version}}</big></a>
        </div>
        <div>
            <a href="https://github.com/Menencia/clickingff7" target="_blank">Github</a> -
            <a href="https://github.com/Menencia/clickingff7/issues" target="_blank">Browse Issues</a> -
            <a href="https://github.com/Menencia/clickingff7/issues/new" target="_blank" id="step13">New Issue</a>
        </div>
    </div>
</footer-->

<script src="jspm_packages/github/components/jquery@2.1.4/jquery.min.js"></script>
<script src="jspm_packages/github/uikit/uikit@2.22.0/js/uikit.min.js"></script>
<script src="jspm_packages/github/uikit/uikit@2.22.0/js/components/tooltip.min.js"></script>
<script src="jspm_packages/system.js"></script>
<script src="config.js"></script>
<script>
    System.import('dist/bootstrap');
</script>

<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
        a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-44996905-1', 'auto');
    ga('send', 'pageview');

</script>

</body>

</html>
