<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <meta name="revisit-after" content="7 days"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=1"/>

    <title>Clicking FF7</title>

    <link rel="stylesheet" type="text/css" href="/bower_components/intro.js/minified/introjs.min.css">
    <link rel="stylesheet" type="text/css" href="/bower_components/font-awesome/css/font-awesome.min.css">
    <link href='http://fonts.googleapis.com/css?family=Quicksand:300,400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body ng-controller="IndexController as g">

<header>
    <div class="wrapper">
        clicking ff7
        <span ng-click="help()" class="help" ng-show="game.loaded">{{"How to play?"|translate}}</span>

        <div class="progress game_load" ng-show="!game.loaded">
            <div class="game_load_progress" style="width:{{game.loader.loadProgress(300)}}px;"></div>
            <span class="bar-label">{{game.loader.filesLoaded}} / {{game.loader.nbFiles}} – {{game.loader.currentLabel}}</span>
        </div>
    </div>
</header>

<div class="page" ng-show="game.loaded">

    <nav class="game-menu" id="step10">
        <ul>
            <li ng-click="g.goGame()" ng-class="{ current: g.isActive('/home')}">{{"Home"|translate}}</li>
            <li ng-click="g.goStory()" ng-class="{ current: g.isActive('/story')}">
                <div class="pull-right new">NEW</div>
                {{"Story"|translate}}
            </li>
            <li ng-click="g.goStatus()" ng-class="{ current: g.isActive('/status')}">{{"Status"|translate}}</li>
            <!--li ng-click="g.goShop()" ng-class="{ current: g.isActive('/shop')}">{{"Shop"|translate}}</li-->
            <!--li ng-click="g.goEquip()" ng-class="{ current: g.isActive('/equip')}">{{"Equip"|translate}}</li-->
            <!--li ng-click="g.goMateria()" ng-class="{ current: g.isActive('/materia')}">{{"Materia"|translate}}</li-->
            <!--li ng-click="g.goItems()" ng-class="{ current: g.isActive('/items')}">{{"Items"|translate}}</li-->
            <!--li ng-click="g.goConfig()" ng-class="{ current: g.isActive('/config')}">{{"Config"|translate}}</li-->
            <li ng-click="g.goPHS()" ng-class="{ current: g.isActive('/phs')}">{{"PHS"|translate}}</li>
            <!--li ng-click="g.goSave()" ng-class="{ current: g.isActive('/save')}">{{"Save"|translate}}</li-->
        </ul>
    </nav>

    <div class="game-infos">
        <div class="pull-right">{{game.time|time}}</div>
        <div>{{"Time"|translate}}:</div>
        <div class="pull-right">{{game.gils}}</div>
        <div>{{"Gil"|translate}}:</div>
    </div>

    <div class="game-location" id="step11">
        {{'Zone '+game.zones.level+' name'|translate}}
        <strong>
            (#{{game.zones.level}})
        </strong>
    </div>

    <div class="game-view" ng-view></div>

</div>

<footer ng-show="game.loaded">
    <div class="wrapper">
        <div>
            ©2014 <a href="http://menencia.com" target="_blank">menencia.com</a>, version <a
                href="https://github.com/Menencia/clickingff7/releases"
                target="_blank" id="step12"><big>{{game.version}}</big></a>
        </div>
        <div>
            <a href="https://github.com/Menencia/clickingff7" target="_blank">Github</a> -
            <a href="https://github.com/Menencia/clickingff7/issues" target="_blank">Browse Issues</a> -
            <a href="https://github.com/Menencia/clickingff7/issues/new" target="_blank" id="step13">New Issue</a>
        </div>
    </div>
</footer>


<script src="/bower_components/traceur-runtime/traceur-runtime.min.js"></script>
<script src="/bower_components/es6-module-loader/dist/es6-module-loader.js"></script>
<script src="/bower_components/system.js/dist/system.js"></script>

<!--script src="/dist/config.js"></script-->
<script>
    System.config({
        meta: {
            'bower_components/jquery/dist/jquery'                                 : {},
            'bower_components/angular/angular'                                    : {exports: 'angular'},
            'bower_components/angular-route/angular-route'                        : {deps: ['angular']},
            'bower_components/angular-route/angular-translate'                    : {deps: ['angular']},
            'bower_components/angular-route/angular-translate-loader-static-files': {deps: ['angular']},
            'bower_components/lodash/lodash'                                      : {},
            'bower_components/velocity/velocity'                                  : {},
            'bower_components/velocity/velocity.ui'                               : {}
        },
        map : {
            'jquery'                               : 'bower_components/jquery/dist/jquery',
            'angular'                              : 'bower_components/angular/angular',
            'angular-route'                        : 'bower_components/angular-route/angular-route',
            'angular-translate'                    : 'bower_components/angular-translate/angular-translate',
            'angular-translate-loader-static-files': 'bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files',
            'lodash'                               : 'bower_components/lodash/lodash',
            'velocity'                             : 'bower_components/velocity/velocity',
            'velocity.ui'                          : 'bower_components/velocity/velocity.ui'
        }
    });
    System.import('dist/bootstrap');
</script>

<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
        a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-44996905-1', 'auto');
    ga('send', 'pageview');

</script>

</body>

</html>
